a,p,h1,h2,h3{
	font-family: "MS Pゴシック";
}
.font-Regular{
	font-family: mainFontRegular, "MS Pゴシック";
}
@font-face{
	font-family: mainFontBoldEx;
	src:url("/anime-web/font/ShipporiMinchoB1-Bold.ttf");
}
@font-face{
	font-family: mainFontExtraBoldEx;
	src:url("/anime-web/font/ShipporiMinchoB1-ExtraBold.ttf");
}
@font-face{
	font-family: mainFontRegular;
	src:url("/anime-web/font/ShipporiMinchoB1-Regular.ttf");
}
a{
	text-decoration: none;
}

