<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><html>
<head th:replace="~{anime-web/common/header/index :: meta(~{::title},~{::link},~{::script})}">
	<title>あ</title>
	<link rel="stylesheet" th:href="@{/anime-web/uploader/index.css}">
	<link rel="stylesheet" th:href="@{/anime-web/common/main/index.css}">
	<script th:src="@{/anime-web/class/class_ajax.js}"></script>
	
	<script th:src="@{/anime-web/uploader/logout.js}"></script>
</head>

<body>
	<header th:replace="~{anime-web/common/header/index :: header}"></header>
	<br>
	<div id="main">
				
		<div id="left_main">
			<div id="left_main_child">
				<h2>ログアウト</h2>
				<hr>
				
				
				<a href="/anime-web/uploader/login">ログイン</a>
			
			</div><!--left_main_child-->
		</div><!--left_main-->
				
	</div><!--main-->
			





</body>
</html>