<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{anime-web/common/header/index :: meta(~{::title},~{::link},~{::script})}">
	<title>あ</title>
	<link rel="stylesheet" th:href="@{/anime-web/anime/index.css}">
	<link rel="stylesheet" th:href="@{/anime-web/common/main/index.css}">
	<script th:src="@{/anime-web/common/main/leftPanel.js}"></script>
	<script th:src="@{/anime-web/common/main/index.js}"></script>
</head>

<body>
	<header th:replace="~{anime-web/common/header/index :: header}"></header>
		<div id="main">
			<div id="left">
				<h2>検索</h2>
				<hr>
				<input type="input">
				<ul>
					
					<li>
						
						<a href="/anime-web/anime">アニメ</a>

					</li>
					<li>
						<a href="/anime-web/anime">家計簿</a>
						
					</li>
					<li>
						<a href="/anime-web/anime">本</a>
					</li>
					
				</ul>
				
				
			</div><!--left-->
			
			<div id="left_main">
				<div id="left_main_child">
					<h2>ランキング</h2>
					<hr>
					<div class="rank">
						<div class="rank-anime">
							<img src="https://main.zebra-basking.ts.net/content/anime-web/upload/img/thumbnail/a.webp">
						</div>
						
					</div><!--rank-->
				</div><!--left_main_child-->
			</div><!--left_main-->
			
		</div><!--main-->
</body>
</html>