<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><html>
<head th:replace="~{anime-web/common/header/index :: meta(~{::title},~{::link},~{::script})}">
	<title>あ</title>
	<link rel="stylesheet" th:href="@{/anime-web/common/main/index.css}">
	<link rel="stylesheet" th:href="@{/anime-web/etc/settings/directory/index.css}">

	
	<script th:src="@{/anime-web/etc/settings/directory/index.js}"></script>
	<script th:src="@{/anime-web/class/class_ajax.js}"></script>
</head>

<body>
	<header th:replace="~{anime-web/common/header/index :: header}"></header>
	<br>
		<div id="main">
			
			<div id="left_main">
				<div id="left_main_child">
					<h2>ディレクトリ設定</h2>
					<hr>
					<label><p class="p">ドキュメントルート  :   </p><input type="text" id ="root" placeholder="C:\apache\htdocs\" th:value="${path}">
					</label><p class="p" id="rootResult"></p><br>
					<label><p class="p">URL  :   </p><input type="text" id ="url" placeholder="http://localhost/" th:value="${url}">
					</label><p class="p" id="urlResult"></p><br>
					
					<input id="button" type="button" value="送信">
				</div><!--left_main_child-->
			</div><!--left_main-->
			
		</div><!--main-->
</body>
</html>