
.rank-scroll{


	min-height: 200px;
	overflow-x: scroll;
	display: flex;
	width: 100%;

}.rank-scroll::-webkit-scrollbar{
	display: none;
}

.rank-div,.rank{
	display: flex;
}.scrollButton{
	min-width: 30px;
	min-height: 100%;
	background-color:rgb(192, 192, 192);
	position: relative;
}.scrollButton:hover{
	background-color:rgba(192, 192, 192,0.5);
}
.img_a{
	display: flex;
	align-items: flex-end;
}

.rightButton::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  width: 13px;  
  height: 13px;   
  border-top: 2px solid #000;   
  border-right:2px solid #000; 
  transform: rotate(45deg);   
}
.leftButton::before {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  width: 13px;  
  height: 13px;   
  border-bottom :2px solid #000;   
  border-left:2px solid #000; 
  transform: rotate(45deg);   
}
.leftButton{
	border-top-left-radius:10px ;
	border-bottom-left-radius:10px ;
}.rightButton{
	border-top-right-radius:10px ;
	border-bottom-right-radius:10px ;
}
.anime-title{
	margin: 0;
	margin-bottom:40px;

	font-weight: bold;
}
.anime-info{
	position: absolute;
	bottom:-13px;
}


.rank-anime img{

	max-width:280px;
	max-height:140px;
}.rank-anime img:hover{
	opacity: 0.5;
}

.div-title, .subject{
	margin: 3px 10px;
	
	
}
.subject{
	margin-top:10px;
	

}
.subject p {
	margin: 0;
	font-weight: 100;
	font-size: 16px;
	font-weight: bold;
	

}


@media (min-width: 901px) {
	.rank-anime-child{
		position: relative;
		width:280px;/*                  画像の                  */
		background-color: rgb(230, 230, 230);
		height: 100%;
	}
	.rank-anime-img-div{
		display: flex;
		justify-content: center;
		width:280px;
		height:140px;
	
	
		background-color: whitesmoke;
	}
}


@media (max-width: 900px) {
	.rank-anime-child{
		position: relative;
		width:150px;/*                  画像の                  */
		background-color: rgb(230, 230, 230);
		height: 100%;
	}
	.rank-anime-img-div{
		display: flex;
		justify-content: center;
		width:150px;
		height:140px;
	
	
		background-color: whitesmoke;
	}
	.rank-anime img{

		max-width:150px;
		max-height:140px;
	}
}